body {
  background-color: Yellow;
}

h1 {
  color: white;
  text-align: center;
}
p {
  font-family: verdana;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
div.relative {
  position: relative;
  left: 30px;
  border: 3px solid #73AD21;
}
table, th, td {
  border: 1px solid black;
}